.auth_container {
    background: radial-gradient(#404040, #0e0e0e);
    height:100vh;
    min-width: 800px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.auth_container form {
    text-align:center;
}

.auth_container label {
    display:block;
    min-width:300px;
    margin:10px;
}

.auth_container input {
    padding: 0.4em 1em;
    margin: 0.5em 0;
    font-size: 35px;
    font-family: 'Amatic SC';
    letter-spacing: 5px;
    width: 100%;
    background: transparent;
    border: 4px solid #c6c0c0;
    color: #c6c0c0;
    box-sizing: border-box;
}

.auth_button {
    padding: 0.5em 1.5em;
    border: none;
    background-color: transparent;
    font-size: 35px;
    font-family: 'Clip';
    letter-spacing: 5px;
    transition: all 0.3s ease;
    color: #c6c0c0;
    position: relative;
    cursor: pointer;
    outline:0;
}

.auth_button:hover {
    background-color: #c6c0c0;
    color: black;
}

.auth_button:before, .auth_button:after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 4px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.auth_button:hover:before, .auth_button:hover:after {
    border-bottom-color: #c6c0c0;
    border-right-color: #c6c0c0;
    border-top-color: #c6c0c0;
    border-left-color: #c6c0c0;
    width: 100%;
    height: 100%;
}

.auth_button:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #c6c0c0;
    border-left-color: #c6c0c0;
}

.auth_button:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #c6c0c0;
    border-right-color: #c6c0c0;
}

#sign_text {
    color: #c6c0c0;
    font-size: 25px;
    font-family: 'Amatic SC';
    letter-spacing: 2px;
}

#sign_text a {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a99eff, -0.2rem 0.1rem 1rem #7b76c1, 0.2rem 0.1rem 1rem #959dd8, 0 -0.5rem 2rem #6e62b5, 0 0.5rem 3rem #dfdee8;
    letter-spacing: 5px;
    animation: shine 2s forwards;
    text-align: center;
    font-family: 'Clip';
    font-size: 32px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    display:inline-block;
    margin-left:8px;
    animation: shine 0.8s forwards, flicker 3s infinite;
}

#sign_text a:hover {
    animation: flicker 2s infinite, blink 1s infinite;
}

#logo {
    font-size: 150px;
    font-family: 'Clip';
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a99eff, -0.2rem 0.1rem 1rem #7b76c1, 0.2rem 0.1rem 1rem #959dd8, 0 -0.5rem 2rem #6e62b5, 0 0.5rem 3rem #dfdee8;
    animation: shine 2s 0.8s forwards, flicker 3s infinite;
}

@keyframes shine {
    0% {
        color: #a99eff;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a99eff, -0.2rem 0.1rem 1rem #7b76c1, 0.2rem 0.1rem 1rem #959dd8, 0 -0.5rem 2rem #6e62b5, 0 0.5rem 3rem #dfdee8;
    }
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a99eff, -0.2rem 0.1rem 1rem #7b76c1, 0.2rem 0.1rem 1rem #959dd8, 0 -0.5rem 2rem #6e62b5, 0 0.5rem 3rem #dfdee8;
    }
    28%,
    33% {
        color: #1f1f1f;
        text-shadow: none;
    }
    82%,
    97% {
        color: #1f1f1f;
        text-shadow: none;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.7;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}