@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');
@font-face {
    font-family: Clip;
    src: url("../fonts/Clip.ttf");
}

body {
    margin: 0;
}

.game-wrapper {
    background-image: url('../img/electrocore_lights_out.jpg');
    width:2560px;
    height:1440px;
    position: relative;
    font-family: 'Amatic SC', sans-serif;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    letter-spacing: 3px;
    font-size:25px;
}
