.electro-grid_node {
    padding: 20px;
    width: 300px;
    height: 230px;
    position: relative;
    background: #1f1f1f;
    transform: scale(1);
    box-sizing: border-box;
    -webkit-transition-property: background,-webkit-transform;
    transition-property: background,-webkit-transform;
    transition-property: transform,background;
    transition-property: transform,background,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: #c6c0c0;
    text-align:center;
}

.electro-grid_node:hover {
    background: #323131;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
    box-shadow: none;
}

.electro-grid_node--interact {
    padding: 0.5em 1.5em;
    border: none;
    background-color: transparent;
    font-size: 35px;
    font-family: 'Clip';
    letter-spacing: 5px;
    transition: all 0.3s ease;
    color: #c6c0c0;
    position: relative;
    cursor: pointer;
    outline:0;
}

.electro-grid_node--interact:hover {
    background-color: #c6c0c0;
    color: black;
}

.electro-grid_node--interact:before, .electro-grid_node--interact:after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 4px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.electro-grid_node--interact:hover:before, .electro-grid_node--interact:hover:after {
    border-bottom-color: #c6c0c0;
    border-right-color: #c6c0c0;
    border-top-color: #c6c0c0;
    border-left-color: #c6c0c0;
    width: 100%;
    height: 100%;
}

.electro-grid_node--interact:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #c6c0c0;
    border-left-color: #c6c0c0;
}

.electro-grid_node--interact:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #c6c0c0;
    border-right-color: #c6c0c0;
}